




.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 3px  #8eadcd;
    padding: 20px;
    width: 450px;
    text-align: center;
    margin: 20px;
    position: relative;
    
  
}

.card-title {
    font-size: 1.2em;
   text-align: center;
   margin-top: -15px;
}

.card-url a {
    color: #007bff;
    text-decoration: none;
    font-size: 13px;
    margin-left: 5px;
    
}


.card-url a:hover {
    text-decoration: underline;
}

.card-target a {
    
    color: black;
    text-decoration: none;
    font-size: 12px;

    
}

.card-date {
    color: #777;
    font-size: 0.7em;
    margin:0;
    position: absolute;
    left: 24px;
    bottom:10px ;
}

.card-views {
    color: #777;
    font-size: 0.7em;
    margin: 5px 0;
    position: absolute;
    right: 30px;
    bottom: 5px;
    font-size: 0.8em;
}
.img{
    height: 35px;
    margin-top: 7px;
    
}
 .img-t{
    height: 30px;     
    margin-top: 7px;

 }


.url{
    display: flex;
    margin-bottom: 0;   
    margin-top: -20px; 
}
.slug-url{
    display: flex;
    margin-bottom: 0; 
    margin-top: -30px;
}


/* Existing styles */

/* Media Query for Tablets and Small Screens */
@media (max-width: 768px) {
    .card {
        width: 90%;
        padding: 15px;
    }

    .card-title {
        font-size: 1em;
    }

    .card-url a, .card-target a {
        font-size: 12px;
    }

    .card-date, .card-views {
        font-size: 0.7em;
    }
}

/* Media Query for Mobile Screens */
@media (max-width: 480px) {
    .card {
        width: 90%;
        margin: 10px 0;
        padding: 10px;
    }

    .card-title {
        font-size: 0.9em;
    }

    .card-url a, .card-target a {
        font-size: 11px;
    }

    .card-date, .card-views {
        font-size: 0.6em;
    }

    .img, .img-t {
        height: 25px;
    }
}
