


.link-form-input{
    
    display: block;
    width: 80%;
    padding: 20px;
    height: 15px;
    border-radius: 10px;
    margin: 40px;
    font-size: 20px;
    
 font-family: "Poetsen One", sans-serif;
 font-weight: 400;
 font-style: normal;

}

.link-form{
   justify-content: center;
   height: 430px;
   margin: 30px 40px;
   display: block;
   width: 500PX;
   background-color: white;
   padding: 50px;
   border-radius: 20px;
   box-shadow: 0 2px 3px  #696b6d;
  

    
}

.btn{
   margin: 0 auto;
   display: block;
   font-size: 20px;
   height: 50px;
   border-radius: 50px;
   width: 200px;
   background-color: #007bff;
   color: white;
   
 font-family: "Poetsen One", sans-serif;
 font-weight: 400;
 font-style: normal;

}

.btn:hover{
   transform: scaleY(1.3);
   transition: 1.3s;
   box-shadow: 2px 2px 5px 2px rgb(206, 203, 203);
   background-color: #ff8ba7;
   
}


  .main-container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-family: "Poetsen One", sans-serif;
   font-weight: 400;
   font-style: normal;
  
  }

  .allLinks{
   text-align: center;
  
   
  }

  .links-container{
   overflow-y: scroll;
   max-height: 700px ;
   background-color: #9ab0c7;
   border-radius: 10px;
   margin-top: 20px;
  }
   .allLinks {
      position: sticky;
      top: 0; /* Sticks to the top of the container */
      background-color: #fff; /* Optional, to make sure it stands out */
      padding: 10px;
      text-align: center;
      z-index: 1000; /* Ensure it stays above other content */
      background-color: #9ab0c7;
      
    }

    .btn-logout{
      position: fixed;
      top: 10px;
      right: 10px;
      border: none;
      background-color: #ffc6c7;
      cursor: pointer;
      font-size: 20px;
      font-family: "Poetsen One", sans-serif;
 font-weight: 400;
 font-style: normal;
    }
    
  