/* Existing styles for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 1000;
  width: 98%;
}

.logo h1 {
  margin: 0;
  font-size: 1.5em;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.user-info {
  font-size: 1em;
}

.btn-logout {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .logo h1 {
      font-size: 1.3em;
  }

  .nav ul li {
      margin: 0 10px;
  }

  .nav ul li a {
      font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      width: 98%;
  }

  .nav ul {
      flex-direction: row;
      width: 100%;
      margin:  0 15px;
  }

  .nav ul li {
      margin: 10px 18px;
  }

  .nav ul li a {
      font-size: 1.1em;
  }

  .logo h1 {
      font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .logo h1 {
      font-size: 1em;
  }

  .nav ul li a {
      font-size: 0.9em;
  }

  .user-info {
      font-size: 0.9em;
  }

  .btn-logout {
      font-size: 0.9em;
      width: 80px;
      
  }
}
